

  <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
    <div class="header">
      <%= image_tag 'spiral-color-element.svg' %>
        <h1 class="intro-content">Quality marketing and print pieces? Good pricing? Quick checkout and print? We are the Alpha and Omega for that!</h1>
    </div>

    <div class="products-home section-center">
      <h3>pick & print</h3>




      <div class="row text-center bottom-padding">
        <div class="col-lg-4">
          <a class="hvr-bob" href="products/businesscards"><%= image_tag 'products/business-cards.png' %>
            <h2>business cards</h2>
            <p class="price-upcase">$45 for 250 Qty</p>
            </a>
        </div>

        <div class="col-lg-4">
          <%= image_tag 'products/menus.png' %>
            <h2>menus</h2>
            <p class="price-upcase">$45 for 250 Qty</p>
        </div>
        <div class="col-lg-4">
          <%= image_tag 'products/posters.png' %>
            <h2>posters</h2>
            <p class="price-upcase">$45 for 250 Qty</p>
        </div>
      </div>

      <div class="row text-center bottom-padding">
        <div class="col-lg-4">
          <%= image_tag 'products/labels.png' %>
            <h2>Stickers</h2>
            <p class="price-upcase">$45 for 250 Qty</p>
        </div>
        <div class="col-lg-4">
          <%= image_tag 'products/banners.png' %>
            <h2>Tradeshow Banners</h2>
            <p class="price-upcase">$45 for 250 Qty</p>
        </div>
        <div class="col-lg-4">
          <%= image_tag 'products/rackcard.png' %>
            <h2>Rackcards</h2>
            <p class="price-upcase">$45 for 250 Qty</p>
        </div>
      </div>
    </div>

    <div class="section-center bottom-padding">
      <a href="#" class="button-big">need something custom? get a quote, click here</a>
    </div>

    <%= render 'layouts/print-help.html' %>

  </div>
