

  <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
    <div class="header">
      <%= image_tag 'spiral-color-element.svg' %>
        <h1 class="intro-content">Need quality marketing and print pieces? Good pricing? Quality business? We are the Alpha and Omega for that!</h1>
    </div>

    <div class="products-home section-center">
      <h3>pick & print</h3>




      <div class="row text-center bottom-padding">
        <div class="col-lg-4">
          <a class="hvr-bob" href="products/businesscards"><%= image_tag 'products/business-cards.png' %>
            <h2>business cards</h2>
            <p class="price-upcase">$45 for 250 Qty</p>
            </a>
        </div>

        <div class="col-lg-4">
          <%= image_tag 'products/menus.png' %>
            <h2>menus</h2>
            <p class="price-upcase">$45 for 250 Qty</p>
        </div>
        <div class="col-lg-4">
          <%= image_tag 'products/posters.png' %>
            <h2>posters</h2>
            <p class="price-upcase">$45 for 250 Qty</p>
        </div>
      </div>

      <div class="row text-center bottom-padding">
        <div class="col-lg-4">
          <%= image_tag 'products/labels.png' %>
            <h2>Stickers</h2>
            <p class="price-upcase">$45 for 250 Qty</p>
        </div>
        <div class="col-lg-4">
          <%= image_tag 'products/banners.png' %>
            <h2>Tradeshow Banners</h2>
            <p class="price-upcase">$45 for 250 Qty</p>
        </div>
        <div class="col-lg-4">
          <%= image_tag 'products/rackcard.png' %>
            <h2>Rackcards</h2>
            <p class="price-upcase">$45 for 250 Qty</p>
        </div>
      </div>
    </div>

    <div class="section-center bottom-padding">
      <a href="#" class="button-big">need something custom? get a quote, click here</a>
    </div>

    <div class="section-center">
      <div class="print-help">
        <div class="icon">
          <img src="https://inkdrp.com/wp-content/uploads/2018/07/printer@2x.jpg" class="icon-img">
        </div>
        <div class="content-ink">
          <h2>Need custom printing?</h2>
          <p>Fixie tote bag ethnic keytar. Neutra vinyl American Apparel.</p>
        </div>
      </div>

      <div class="print-help">
        <div class="icon">
          <img src="https://inkdrp.com/wp-content/uploads/2018/07/chess@2x.jpg" class="icon-img">
        </div>
        <div class="content-ink">
          <h2>Need some design help?</h2>
          <p>Fixie tote bag ethnic keytar. Neutra vinyl American Apparel.</p>
        </div>
      </div>
    </div>

  </div>
